In [3]:
import pandas as pd
import numpy as np

In [4]:
def crear_columnas(df,nombre,sector,tipo,area):
    # Crear columnas
    df.insert(1, "NOMBRE", nombre, allow_duplicates=False)
    df.rename(columns={'Price':'PRECIO'},inplace=True)
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.iloc[:,0:3]
    df['PRECIO NORMALIADO MAX'] = df['PRECIO']*1000/df['PRECIO'].max()
    df['PRECIO NORMALIADO MIN'] = df['PRECIO']*1/df['PRECIO'].min()
    df.insert(2, "SECTOR", sector, allow_duplicates=False)
    df.insert(2, "TIPO", tipo, allow_duplicates=False)
    df.insert(2, "AREA", area, allow_duplicates=False)

    #Crear rentabilidades

    lista_precios_semanal = []
    lista_precios_mensual = []
    lista_precios_anual = []
    lista_precios_bianual = []
    lista_precios_lustro = []
    
    for x,i in enumerate (df['PRECIO']):
        if x + 1 >= len(df['PRECIO']):
            lista_precios_semanal.append(np.nan)
        else: 
            lista_precios_semanal.append(df['PRECIO'][x+1])
    df['PRECIO SEMANAL']=lista_precios_semanal
    df['RENTABILIDAD SEMANAL']=(df['PRECIO']-df['PRECIO SEMANAL'])/df['PRECIO SEMANAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 4 >= len(df['PRECIO']):
            lista_precios_mensual.append(np.nan)
        else: 
            lista_precios_mensual.append(df['PRECIO'][x+4])
    df['PRECIO MENSUAL']=lista_precios_mensual
    df['RENTABILIDAD MENSUAL']=(df['PRECIO']-df['PRECIO MENSUAL'])/df['PRECIO MENSUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 52 >= len(df['PRECIO']):
            lista_precios_anual.append(np.nan)
        else: 
            lista_precios_anual.append(df['PRECIO'][x+52])
    df['PRECIO ANUAL']=lista_precios_anual
    df['RENTABILIDAD ANUAL']=(df['PRECIO']-df['PRECIO ANUAL'])/df['PRECIO ANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 104 >= len(df['PRECIO']):
            lista_precios_bianual.append(np.nan)
        else: 
            lista_precios_bianual.append(df['PRECIO'][x+104])
    df['PRECIO BIANUAL']=lista_precios_bianual
    df['RENTABILIDAD BIANUAL']=(df['PRECIO']-df['PRECIO BIANUAL'])/df['PRECIO BIANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 261 >= len(df['PRECIO']):
            lista_precios_lustro.append(np.nan)
        else: 
            lista_precios_lustro.append(df['PRECIO'][x+261])
    df['PRECIO LUSTRO']=lista_precios_lustro
    df['RENTABILIDAD LUSTRO']=(df['PRECIO']-df['PRECIO LUSTRO'])/df['PRECIO LUSTRO']

    # Rentabilidades a posteriori

    lista_precios_asemestral = []
    lista_precios_aanual = []
    lista_precios_abianual = []
    lista_precios_alustro = []

    
    for x,i in enumerate (df['PRECIO']):
        if x - 24 < 0:
            lista_precios_asemestral.append(np.nan)
        else: 
            lista_precios_asemestral.append(df['PRECIO'][x-1])
    df['PRECIO SEMESTRAL A']=lista_precios_asemestral
    df['A 6 MESES']=(df['PRECIO SEMESTRAL A']-df['PRECIO'])/df['PRECIO']

    for x,i in enumerate (df['PRECIO']):
        if x - 52 < 0:
            lista_precios_aanual.append(np.nan)
        else: 
            lista_precios_aanual.append(df['PRECIO'][x-52])
    df['PRECIO ANIO A']=lista_precios_aanual
    df['A 1 ANIO']=(df['PRECIO ANIO A']-df['PRECIO'])/df['PRECIO']
    
    for x,i in enumerate (df['PRECIO']):
        if x - 104 < 0:
            lista_precios_abianual.append(np.nan)
        else: 
            lista_precios_abianual.append(df['PRECIO'][x-104])
    df['PRECIO 2 ANIO A']=lista_precios_abianual
    df['A 2 ANIOS']=(df['PRECIO 2 ANIO A']-df['PRECIO'])/df['PRECIO']

    for x,i in enumerate (df['PRECIO']):
        if x - 261 < 0:
            lista_precios_alustro.append(np.nan)
        else: 
            lista_precios_alustro.append(df['PRECIO'][x-261])
    df['PRECIO LUSTRO A']=lista_precios_alustro
    df['A 5 ANIOS']=(df['PRECIO LUSTRO A']-df['PRECIO'])/df['PRECIO']

    df.to_csv(F"COMPLETADOS/{nombre}.csv", index = False)
    

    return df

In [23]:
del SP

NameError: name 'SP' is not defined

In [26]:
KBE = pd.read_csv("KBE Historical Data.csv")

In [27]:
KBE = crear_columnas(KBE,"SPDR S&P Bank ETF (KBE)","FINANCIERO","ETF","EEUU")

In [28]:
KBE

,Date,NOMBRE,AREA,TIPO,SECTOR,PRECIO,PRECIO NORMALIADO MAX,PRECIO NORMALIADO MIN,PRECIO SEMANAL,RENTABILIDAD SEMANAL,...,PRECIO LUSTRO,RENTABILIDAD LUSTRO,PRECIO SEMESTRAL A,A 6 MESES,PRECIO ANIO A,A 1 ANIO,PRECIO 2 ANIO A,A 2 ANIOS,PRECIO LUSTRO A,A 5 ANIOS
0,2021-12-26,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,54.56,907.065669,5.860365,54.07,0.009062,...,43.47,0.255118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-12-19,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,54.07,898.919368,5.807734,52.91,0.021924,...,43.98,0.229422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-12-12,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,52.91,879.634248,5.683136,54.58,-0.030597,...,43.16,0.225904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-12-05,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,54.58,907.398171,5.862513,53.47,0.020759,...,44.11,0.237361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-28,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,53.47,888.944306,5.743287,55.06,-0.028878,...,41.64,0.284102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,2005-12-18,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,52.97,880.631754,5.689581,52.79,0.003410,...,NaN,NaN,51.96,-0.019067,58.31,0.100812,44.21,-0.165377,25.70,-0.514820
837,2005-12-11,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,52.79,877.639235,5.670247,52.18,0.011690,...,NaN,NaN,52.97,0.003410,58.18,0.102103,44.65,-0.154196,24.88,-0.528699
838,2005-12-04,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,52.18,867.497922,5.604726,52.32,-0.002676,...,NaN,NaN,52.79,0.011690,57.46,0.101188,47.76,-0.084707,25.31,-0.514948
839,2005-11-27,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,52.32,869.825436,5.619764,52.85,-0.010028,...,NaN,NaN,52.18,-0.002676,56.47,0.079320,48.20,-0.078746,23.89,-0.543387
840,2005-11-20,SPDR S&P Bank ETF (KBE),EEUU,ETF,FINANCIERO,52.85,878.636741,5.676692,NaN,NaN,...,NaN,NaN,52.32,-0.010028,57.00,0.078524,45.65,-0.136235,22.15,-0.580889

In [ ]:
XLY

In [47]:
ETF = pd.concat([DAX_1, DAX_2,DAX_3], axis=0)

AttributeError: 'list' object has no attribute 'replace'

In [7]:
def columnas_rent(df):
    
    lista_precios_semanal = []
    lista_precios_mensual = []
    lista_precios_anual = []
    lista_precios_bianual = []
    lista_precios_lustro = []
    
    for x,i in enumerate (df['PRECIO']):
        if x + 1 >= len(df['PRECIO']):
            lista_precios_semanal.append(0)
        else: 
            lista_precios_semanal.append(df['PRECIO'][x+1])
    df['PRECIO SEMANAL']=lista_precios_semanal
    df['RENTABILIDAD SEMANAL']=(df['PRECIO']-df['PRECIO SEMANAL'])/df['PRECIO SEMANAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 4 >= len(df['PRECIO']):
            lista_precios_mensual.append(0)
        else: 
            lista_precios_mensual.append(df['PRECIO'][x+4])
    df['PRECIO MENSUAL']=lista_precios_mensual
    df['RENTABILIDAD MENSUAL']=(df['PRECIO']-df['PRECIO MENSUAL'])/df['PRECIO MENSUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 48 >= len(df['PRECIO']):
            lista_precios_anual.append(0)
        else: 
            lista_precios_anual.append(df['PRECIO'][x+48])
    df['PRECIO ANUAL']=lista_precios_anual
    df['RENTABILIDAD ANUAL']=(df['PRECIO']-df['PRECIO ANUAL'])/df['PRECIO ANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 105 >= len(df['PRECIO']):
            lista_precios_bianual.append(0)
        else: 
            lista_precios_bianual.append(df['PRECIO'][x+105])
    df['PRECIO BIANUAL']=lista_precios_bianual
    df['RENTABILIDAD BIANUAL']=(df['PRECIO']-df['PRECIO BIANUAL'])/df['PRECIO BIANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 261 >= len(df['PRECIO']):
            lista_precios_lustro.append(0)
        else: 
            lista_precios_lustro.append(df['PRECIO'][x+261])
    df['PRECIO LUSTRO']=lista_precios_lustro
    df['RENTABILIDAD LUSTRO']=(df['PRECIO']-df['PRECIO LUSTRO'])/df['PRECIO LUSTRO']

    return df

In [5]:
def col_a_anios(df):
    lista_precios_asemestral = []
    lista_precios_aanual = []
    lista_precios_abianual = []
    lista_precios_alustro = []

    
    for x,i in enumerate (df['PRECIO']):
        if x - 24 < 0:
            lista_precios_asemestral.append(0)
        else: 
            lista_precios_asemestral.append(df['PRECIO'][x-1])
    df['PRECIO SEMESTRAL A']=lista_precios_asemestral
    df['A 6 MESES']=(df['PRECIO SEMESTRAL A']-df['PRECIO'])/df['PRECIO']

    for x,i in enumerate (df['PRECIO']):
        if x - 48 < 0:
            lista_precios_aanual.append(0)
        else: 
            lista_precios_aanual.append(df['PRECIO'][x-48])
    df['PRECIO ANIO A']=lista_precios_aanual
    df['A 1 ANIO']=(df['PRECIO ANIO A']-df['PRECIO'])/df['PRECIO']
    
    for x,i in enumerate (df['PRECIO']):
        if x - 105 < 0:
            lista_precios_abianual.append(0)
        else: 
            lista_precios_abianual.append(df['PRECIO'][x-105])
    df['PRECIO 2 ANIO A']=lista_precios_abianual
    df['A 2 ANIOS']=(df['PRECIO 2 ANIO A']-df['PRECIO'])/df['PRECIO']

    for x,i in enumerate (df['PRECIO']):
        if x - 261 < 0:
            lista_precios_alustro.append(0)
        else: 
            lista_precios_alustro.append(df['PRECIO'][x-261])
    df['PRECIO LUSTRO A']=lista_precios_alustro
    df['A 5 ANIOS']=(df['PRECIO LUSTRO A']-df['PRECIO'])/df['PRECIO']

In [6]:
def eliminar_col(df):
    df.drop(['PRECIO SEMANAL', 'PRECIO MENSUAL', 'PRECIO ANUAL','PRECIO BIANUAL','PRECIO LUSTRO','PRECIO LUSTRO A','PRECIO 2 ANIO A','PRECIO ANIO A','PRECIO SEMESTRAL A'], axis=1)
    return df

In [7]:
FDN_df = pd.read_csv("FDN Historical Data.csv")
FDN_df

             Date   Price    Open    High     Low     Vol. Change %
0    Dec 26, 2021  226.13  229.14  231.45  225.92  817.06K   -1.25%
1    Dec 19, 2021  228.99  218.89  229.73  217.70  838.77K    2.88%
2    Dec 12, 2021  222.57  227.15  228.75  216.24    1.77M   -2.21%
3    Dec 05, 2021  227.59  219.19  233.71  215.97    1.19M    3.83%
4    Nov 28, 2021  219.19  237.45  238.00  215.66    2.28M   -6.74%
..            ...     ...     ...     ...     ...      ...      ...
805  Jul 23, 2006   19.03   19.25   19.28   19.02   91.00K   -1.25%
806  Jul 16, 2006   19.27   19.37   19.47   19.27    1.30K   -0.62%
807  Jul 09, 2006   19.39   20.54   20.54   19.33    1.40K   -4.86%
808  Jul 02, 2006   20.38   21.28   21.30   20.38   90.70K   -4.09%
809  Jun 25, 2006   21.25   20.79   21.25   20.61   16.70K    3.56%

[810 rows x 7 columns]

In [8]:
FDN_df = crear_columnas(FDN_df)

In [9]:
FDN_df = columnas_rent(FDN_df)

TypeError: 'NoneType' object is not subscriptable